<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/infiniteScroll.js"></script>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1>FLIMFLAM FEED</h1>
    <div class="cardContainer">

        <% for (let i=0; i < posts.length; i++) { %>
            <div class="card">
                <div class="card-header">
                    <h4>
                        <a href="/profile/<%=posts[i].author%>">
                            <%=posts[i].author%>
                        </a>
                    </h4>
                </div>
                <div class="card-content">
                    <p class="">
                        <%=posts[i].postBody%>
                    </p>
                    <p>
                        Tags:
                        <% for (let z=0; z < posts[i].tags.length; z++) { %>
                            <a href="/feed/search/%23<%= posts[i].tags[z].slice(1) %> ">
                                <%= posts[i].tags[z] %>
                            </a>
                            <% } %>
                    </p>
                    <p>
                        Mentions:
                        <% for (let z=0; z < posts[i].mentions.length; z++) { %>
                            <a href="/profile/<%= posts[i].mentions[z].slice(1) %> ">
                                <%= posts[i].mentions[z] %>
                            </a>
                            <% } %>
                    </p>
                    <% if (currentUser) {%>
                        <% if (currentUser._id===posts[i].posterID || currentUser.isModerator) {%>
                            <p>
                                <a href="/posts/<%=posts[i]._id%>">Edit this post</a>
                            </p>
                            <%}}%>
                                <%if (posts[i].createdAt.toString()==posts[i].updatedAt.toString()) {%>
                                    <p class="date">
                                        Posted: <%=posts[i].createdAt.toString().slice(0, 16)%>
                                    </p>

                                    <%} else {%>
                                        <p class="date">
                                            Posted: <%=posts[i].updatedAt.toString().slice(0, 16) + " (edited)" %>
                                        </p>
                                        <%}%>
                </div>
            </div>
            <% } %>
    </div>
</body>

</html>