<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <h1>Here are all the Posts:</h1>

    <% for (let i=0; i < posts.length; i++) { %>
        <div class="container post-container">
            <div class="row">
                <h4>
                    <a href="/profile/<%=posts[i].posterID%>">
                        <%=posts[i].author%>
                    </a>
                </h4>
            </div>
            <div class="row">
                <p>
                    <%=posts[i].postBody%>
                </p>
            </div>
            <div class="row">
                <p>
                    <%=posts[i].tags%>
                </p>
            </div>
            <div class="row">
                <p>
                    <a href="/posts/<%=posts[i]._id%>">View this post on its own</a>
                </p>
            </div>
            <div class="row">
                <p>
                    <%=posts[i].mentions%>
                </p>
            </div>
            <div class="row">
                <%if (posts[i].createdAt.toString()==posts[i].updatedAt.toString()) {%>
                    <p>
                        <%=posts[i].createdAt.toString().slice(0, 16)%>
                    </p>

                    <%} else {%>
                        <p>
                            <%=posts[i].updatedAt.toString().slice(0, 16) + " (edited)" %>
                        </p>
                        <%}%>
            </div>
        </div>
        <% } %>
</body>

</html>