<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <h1>
            <%=profile.username%>
        </h1>
        <% if (profile.isModerator) {%>
            <p>Moderator</p>
            <% } %>
                <% if (profile.profilePicURL && profile.profilePicURL !="" ) {%>
                    <div class="image-container">
                        <img class="profile-picture" src="<%= profile.profilePicURL %> " alt="Profile Picture">
                    </div>
                    <% } %>
                        <div class="container">
                            <p>
                                <%= profile.aboutMe %>
                            </p>
                        </div>
                        <h2>
                            <%=profile.username%> Posts
                        </h2>
                        <% for (let i=0; i < posts.length; i++) { %>
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        <a href="/profile/<%=posts[i].posterID%>">
                                            <%=posts[i].author%>
                                        </a>
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <p class="mb-4">
                                        <%=posts[i].postBody%>
                                    </p>
                                    <p>
                                        Tags: <%=posts[i].tags%>
                                    </p>
                                    <p>
                                        Mentions: <%=posts[i].mentions%>
                                    </p>
                                    <% if (currentUser) {%>
                                        <% if (currentUser._id===posts[i].posterID || currentUser.isModerator) {%>
                                            <p>
                                                <a href="/posts/<%=posts[i]._id%>">View this post on its own and
                                                    edit</a>
                                            </p>
                                            <%}}%>
                                                <%if (posts[i].createdAt.toString()==posts[i].updatedAt.toString()) {%>
                                                    <p class="help">
                                                        <%=posts[i].createdAt.toString().slice(0, 16)%>
                                                    </p>

                                                    <%} else {%>
                                                        <p class="help">
                                                            <%=posts[i].updatedAt.toString().slice(0, 16) + " (edited)"
                                                                %>
                                                        </p>
                                                        <%}%>
                                </div>
                            </div>
                            <% } %>
    </main>

</body>

</html>