<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <p>
        <%=post.author%>
    </p>
    <p>
        <%=post.postBody%>
    </p>
    <p>
        <%=post.tags%>
    </p>
    <p>
        Created on: <%=post.createdAt.toString().slice(0, 16)%>
    </p>
    <% if (post.createdAt.toString() !=post.updatedAt.toString()) {%>
        <p>
            Updated On: <%=post.updatedAt.toString().slice(0, 16)%>
        </p>
        <% } %>
            <% if (currentUser) {%>
                <a class="button is-warning" href="/posts/<%= post._id %>/edit">Edit this post</a>
                <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                    <input class='button is-warning' type="submit" value="Delete Post">
                </form>

                <a>Delete this post</a>
                <% } %>
</body>

</html>