<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <h1>Edit Post Page</h1>
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST">
            Author:<input type="text" name="author" value="<%=post.author%>" /><br />
            Post Body:<input type="text" name="postBody" value="<%=post.postBody%>" /><br />
            Tags:<input type="text" name="tags" value="<%=post.tags%>" /><br />
            mentions:<input type="text" name="mentions" value="<%=post.mentions%>" /><br />
            />
            <br />
            <input type="submit" name="" value="Submit Changes">
        </form>
    </main>
</body>

</html>